.liste{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2{
  align-items: center;
  margin-top: 0.5rem;
}

.pilleknap, .blyant, .frempil {
  margin-left: auto;
}

#sletbruger{
  background-color: #F07068;
  width: 20%;
}

#logud {
  width: 20%;
}

@media screen and (max-width: 600px) {
  #sletbruger{
    width: 45%;
  }
  
  #logud {
    width: 45%;
  }
}