@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.logo-a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tilmeld {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beskrivelse-abonnement {
  padding: 1rem;
  border-radius: 0.6rem;
}

.hashtag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 1.25rem 0rem;
}

.hashtag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 1.25rem 0rem;
}

#hashtagknapper {
  display: flex;
  flex-direction: row;
}

#hashtagknapper > div {
  background-color: #dcbcfd;
  border-radius: 0.625rem;
  border: none;
  padding: 0.313rem 0.938rem 0.313rem 0.938rem;
  margin: 0.625rem;
}

.navn-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .logo-a > img {
    height: 13rem;
  }
}

@media screen and (max-width: 600px) {
  .logo-a > img {
    height: 10rem;
  }
}